@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "苹方", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.5s ease !important;
  background-color: var(--color-background) !important;
  ::selection {
    color: #fff;
    background-color: #c59a4c !important;
  }
  &::-webkit-scrollbar {
    width: 0 !important;
  }
}
