@mixin home-title {
  text-align: center;
  padding: 40px 0;
  font-weight: bold;
  color: #666;
  margin-bottom: 0;
}

@mixin card-shadow {
  box-shadow: 0px 0px 50px rgb(0 0 0 / 20%);
  border: 1px solid #fff;
}

@mixin setBread {
  :deep(.bread) {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dedede;
  }
  :deep(.bread-item) {
    font-size: 16px;
  }
}

// 页面头部的图片
@mixin img($url) {
  background: url($url) center no-repeat;
  width: 100%;
  height: 300px;
  background-size: cover;
  @media (max-width: 992px) {
    height: 260px;
  }
  @media (max-width: 768px) {
    height: 240px;
  }
  @media (max-width: 576px) {
    height: 200px;
  }
}

// 多行文本溢出
@mixin ellipsis($row) {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $row;
  overflow: hidden;
}
