:root {
  // 亮色模式下
  // 字体颜色
  --text-dark-1: #1b1b1b;
  --text-dark-2: #343434;
  // 背景颜色
  --bg-light-1: #fff;

  // 黑暗模式下
  // 字体颜色
  --text-light-1: #fff;
  // 背景颜色
  --bg-dark-1: #1b1b1b;
}
